*/target/**
/target/classes/ch/bbzbl/bean/AbstractBean.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/bean/AbstractBean.class
/target/classes/ch/bbzbl/filter/AdminFilter.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/filter/AdminFilter.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/all-themes-1.0.10.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/antlr-2.7.7.jar
/target/classes/images/bbzbllogo.png
/target/JSFApp-1.0-SNAPSHOT/resources/images/bbzbllogo.png
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/images/bbzbllogo.png
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/bcrypt-0.10.2.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/byte-buddy-1.12.9.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/bytes-1.5.0.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/cdi-api-1.2.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/classmate-1.5.1.jar
/target/JSFApp-1.0-SNAPSHOT/pages/public/denied.xhtml
/target/classes/ch/bbzbl/bean/EntityBean.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/bean/EntityBean.class
/target/JSFApp-1.0-SNAPSHOT/pages/protected/entity/dialogs/entityCreateDialog.xhtml
/target/classes/ch/bbzbl/dao/EntityDAO.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/dao/EntityDAO.class
/target/JSFApp-1.0-SNAPSHOT/pages/protected/admin/entityDeleteDialog.xhtml
/target/JSFApp-1.0-SNAPSHOT/pages/protected/entity/dialogs/entityDetailDialog.xhtml
/target/classes/ch/bbzbl/facade/EntityFacade.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/facade/EntityFacade.class
/target/JSFApp-1.0-SNAPSHOT/pages/protected/entity/entityIndex.xhtml
/target/classes/ch/bbzbl/dao/EntityManagerHelper.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/dao/EntityManagerHelper.class
/target/JSFApp-1.0-SNAPSHOT/pages/protected/admin/entityUpdateDialog.xhtml
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/faces-config.xml
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/FastInfoset-1.2.15.jar
/target/classes/ch/bbzbl/entity/GeneralEntity.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/entity/GeneralEntity.class
/target/classes/ch/bbzbl/dao/GenericDAO.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/dao/GenericDAO.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/hibernate-commons-annotations-5.1.2.Final.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/hibernate-core-5.6.8.Final.jar
/target/JSFApp-1.0-SNAPSHOT/pages/protected/index.xhtml
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/istack-commons-runtime-3.0.7.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/jandex-2.4.2.Final.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/javax.activation-api-1.2.0.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/javax.annotation-api-1.3.2.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/javax.el-api-3.0.0.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/javax.inject-1.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/javax.interceptor-api-1.2.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/javax.persistence-api-2.2.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/jaxb-api-2.3.1.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/jaxb-runtime-2.3.1.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/jboss-logging-3.4.3.Final.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/jboss-transaction-api_1.2_spec-1.1.1.Final.jar
/target/classes/javascript/jscodes.js
/target/JSFApp-1.0-SNAPSHOT/resources/javascript/jscodes.js
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/javascript/jscodes.js
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/jsf-api-2.2.20.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/jsf-impl-2.2.20.jar
/target/classes/images/jsf_architecture.jpg
/target/JSFApp-1.0-SNAPSHOT/resources/images/jsf_architecture.jpg
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/images/jsf_architecture.jpg
/target/classes/ch/bbzbl/util/JSFMessageUtil.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/util/JSFMessageUtil.class
/target/JSFApp-1.0-SNAPSHOT/pages/protected/templates/left.xhtml
/target/JSFApp-1.0-SNAPSHOT/pages/public/login.xhtml
/target/classes/ch/bbzbl/bean/LoginBean.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/bean/LoginBean.class
/target/classes/ch/bbzbl/filter/LoginFilter.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/filter/LoginFilter.class
/target/classes/images/logo.png
/target/JSFApp-1.0-SNAPSHOT/resources/images/logo.png
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/images/logo.png
/target/classes/css/main.css
/target/JSFApp-1.0-SNAPSHOT/resources/css/main.css
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/css/main.css
/target/JSFApp-1.0-SNAPSHOT/META-INF/MANIFEST.MF
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/mariadb-java-client-3.0.4.jar
/target/JSFApp-1.0-SNAPSHOT/pages/protected/templates/master.xhtml
/target/classes/messages.properties
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/messages.properties
/target/classes/ch/bbzbl/MyBigIntegerValidator.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/MyBigIntegerValidator.class
/target/classes/ch/bbzbl/util/PasswordUtil.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/util/PasswordUtil.class
/target/classes/META-INF/persistence.xml
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/META-INF/persistence.xml
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/primefaces-10.0.0.jar
/target/JSFApp-1.0-SNAPSHOT/pages/protected/profile/profileIndex.xhtml
/target/classes/ch/bbzbl/entity/Role.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/entity/Role.class
/target/classes/ch/bbzbl/bean/StartupBean.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/bean/StartupBean.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/stax-ex-1.8.jar
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/tomcat-servlet-api-9.0.63.jar
/target/JSFApp-1.0-SNAPSHOT/pages/protected/templates/top.xhtml
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/lib/txw2-2.3.1.jar
/target/classes/ch/bbzbl/entity/User.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/entity/User.class
/target/classes/ch/bbzbl/bean/UserBean.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/bean/UserBean.class
/target/classes/ch/bbzbl/dao/UserDAO.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/dao/UserDAO.class
/target/classes/ch/bbzbl/facade/UserFacade.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/classes/ch/bbzbl/facade/UserFacade.class
/target/JSFApp-1.0-SNAPSHOT/WEB-INF/web.xml
/.idea/webContexts.xml
